<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YZU選課機器人.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YZU選課機器人.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <YZU選課機器人.Properties.Settings>
            <setting name="account" serializeAs="String">
                <value />
            </setting>
            <setting name="token" serializeAs="String">
                <value />
            </setting>
            <setting name="XMLRSAkey" serializeAs="String">
                <value />
            </setting>
            <setting name="RSAPublicKey" serializeAs="String">
                <value />
            </setting>
            <setting name="year" serializeAs="String">
                <value />
            </setting>
            <setting name="smtr" serializeAs="String">
                <value />
            </setting>
            <setting name="stage" serializeAs="String">
                <value />
            </setting>
        </YZU選課機器人.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <YZU選課機器人.Properties.Settings>
            <setting name="AppID" serializeAs="String">
                <value>XamPrismYzu20180206</value>
            </setting>
        </YZU選課機器人.Properties.Settings>
    </applicationSettings>
</configuration>